
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$cyan: hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);
$light-grey: hsl(204, 43%, 93%);
$greyish-blue:hsl(218, 22%, 67%);

body{
    background-color: $light-grey;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;

}

h1, h2{
    padding: 0rem;
    margin: 0rem;
}

main{
    padding-top: 2rem;
    display: grid;
    grid-template-areas: 
    " pitch pitch"
    "monthly monthly"
    "benefits benefits";
    
    max-width: 90%;
    margin:auto;
    
}


@media only screen and (min-width: 600px){
   main{
    padding-top: 0rem;
    max-width: 750px;
    grid-template-areas: 
    " pitch pitch"
    "monthly benefits";

   }



}

.card__pitch{
    grid-area: pitch;
    background-color: white;
    padding: 0rem 1.5rem 1rem 1.5rem;
    line-height: 1.75;
    padding: 1rem;
    
    h1{
        color:$cyan;
        margin-bottom: 1rem;
    }
    b{
        color:$yellow;
    }
    p{
        color:$greyish-blue;
    }
}

.card__monthly{
    grid-area: monthly;
    background-color: $cyan;
    color:white;
    padding: 1.5rem;
    h2{
        padding: 1rem 0rem;
    }

    .card__price{
        display: flex;
        align-items: center;

        b{
            align-self: center;
            font-size: 35px;  
        }
        p{
            padding-left: .5rem;
            color: $light-grey;

        }


    }
    button{
        width: 90%;
        background-color: $yellow;
        border: none;
        color: white;
        height: 50px;
        border-radius: 10px;
        margin-top: 1rem;
        
        box-shadow:
            1px 2.8px 2.2px rgba(0, 0, 0, .05),
            2px 8.7px 5.3px rgba(0, 0, 0, .08), 
            3px 12.5px 10px rgba(0, 0, 0, .13);
    }
    button:hover{
        cursor: pointer;
        background-color: #ffeF20; 
    }
}


.card__benefits{
    grid-area: benefits;
    background-color:#4abebd;
    padding: 1rem;

    h2{
        color:white;
        padding: 1rem 0rem;
    }
    ul{
        margin: 0rem;
        padding: 0rem;
        color: $light-grey;
        list-style-type: none;
    }

    li{
        padding: .2rem;
    }


}



@media only screen and (min-width: 600px){
    .card__monthly, .card__benefits, .card__pitch{
        padding: 2rem;
    }
  
  
  
  }

